.main-menu {
  background-color: #D33E25;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  list-style: none;
  padding-left: 32px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.menu__item:first-child {
  padding-left: 0px;
}

.menu__item a {
  color: inherit;
  text-decoration: none;
}